<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("helpers.titles.index") %></h1>
</div>

<%= link_to t('.new', :default => t("Course")), showall_courses_path, :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("Batch")), batches_path, :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("Class")), studentclasses_path, :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("Section")),  studentsections_path, :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("Code")), coursecodes_path, :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("Chapters")), new_course_path, :class => 'btn btn-primary' %>
